body{
    font-family: Roboto;
    font-weight: 300;
    background-color: #edf2f4;
    color: #2b2d42;
    text-align: center;
}
p{
    text-align: justify;
    margin-inline: auto;
    max-width: 300px;
}
li{
    text-align: center;
    margin-inline: auto;
    max-width: 300px;

}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

h1, h2{
    font-family: Open Sans;
    font-weight: 400;
}

.skills{
    text-align: justify;
    margin-inline: auto;
    max-width: 300px;
}

.social-networks{
    width: 50px;
    object-fit: contain;
    
}

#originCity, #originState, #nationality {
    font-weight: 400;
}

#my_name{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 34px;
    color: #2b2d42;
    text-decoration: none;
    font-style: oblique;
    
}



<!--
Space Cadet 2b2d42
Manatee":8d99ae
"Alice Blue":"edf2f4",
"Imperial Red":"ef233c",
"Amaranth Red":"d90429" 
-->